body {
  font-family: "Outfit", sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px; /* Voeg wat padding toe aan de body */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #fdfcfa;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* Volledige breedte op mobiel */
  max-width: 400px; /* Aangepaste maximale breedte */
  text-align: center;
  box-sizing: border-box;
  border-radius: 10px; /* Toegevoegde border-radius */
  margin: 0 auto; /* Centraal positioneren */
}

h1 {
  color: #424242;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
  word-wrap: break-word;
}

.reading-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd; /* Lijn onder de reading-list */
}

.reading-list h2 {
  color: #424242;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  word-wrap: break-word;
  text-align: left;
  padding-left: 10px;
}

.book-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f8ff; /*#f4f8f9; Lichtblauwe achtergrond */
  padding: 5px 15px;
  border-radius: 20px;
  margin-bottom: 10px;
  text-align: left;
}

.book-item-link {
  text-decoration: none;
  color: inherit; /* Zorgt ervoor dat de kleur van de tekst niet verandert */
  display: block; /* Maakt het hele blok klikbaar */
}

.book-item-link:hover,
.book-item-link:focus,
.book-item-link:active {
  text-decoration: none; /* Verwijdert onderstreping bij hover, focus en actief */
  outline: none; /* Verwijdert eventuele focus-randen */
}

.book-info h3 {
  color: #424242;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.book-info .author {
  /* color: #777; */
  color: #bdbdbd;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.pages {
  color: #424242;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap; /* voorkomt dat 'pages' afbreekt */
}

.add-book {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f4f2e5; /*#f2f2f2; */
  border-radius: 20px;
}

.input-group input {
  width: calc(100% - 20px);
  padding: 8px 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.input-group ::placeholder {
  color: #424242;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}

.add-button,
.activities-button {
  background-color: #d2e6ff; /* #b0d4f1; */
  color: #424242;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Voeg wat ruimte toe boven de knop */
  color: #424242;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.add-button:hover,
.activities-button:hover {
  background-color: #94c2e7;
}

.activities-button {
  display: inline-block; /* Zorgt ervoor dat de link zich gedraagt als een knop */
  background-color: #d2e6ff;
  color: #424242;
  padding: 16px 20px;
  gap: 10px;
  border: none;
  border-radius: 10px;
  text-decoration: none; /* Verwijdert de standaard onderstreping van links */
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.activities-button:hover,
.activities-button:focus {
  background-color: #94c2e7; /* Verander de achtergrondkleur bij hover of focus */
}
